
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    padding: 40px;
    text-align: center;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

#navbar {
    background-color: #333;
    padding: 15px;
    transition: background-color 0.3s ease;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#navbar ul li {
    margin: 0 20px;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s ease;
}

#navbar ul li a:hover {
    color: #FFD700; 
}


#navbar.scrolled  {
    background-color: #182166;
}


#home {
    background-color: #f2f2f2;
}

#about {
    background-color: #e6e6e6;
}

#services {
    background-color: #cccccc;
}

#contact {
    background-color: #b3b3b3;
}
